.bodyStyle {
	margin-left: 60px;
	margin-right: 60px;
	height: 600px;
}

.headerStyle {
	background-color: darkblue;
	height: 120px;
}

.footerStyle {
	background-color: darkblue;
	height: 120px;
}

.image{
	width : 60px;
	border-radius:10%;
}

.image2{
	width : 150px;
	border-radius:10%;
}

.formStyle{
	
	padding:20px;
	width:250px;
	margin-left: auto;
	margin-right: auto;
}